# version 12
---
BasedOnStyle: LLVM
IndentWidth: 4

SortIncludes: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakConstructorInitializers: BeforeComma
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments: true
ReflowComments: true
IndentPPDirectives: None
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: true
IndentCaseBlocks: false

# The brace breaking style to use.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
  AfterCaseLabel: true
