# version 12
---
BasedOnStyle: LLVM
IndentWidth: 4

SortIncludes: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakConstructorInitializers: BeforeComma
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AlignTrailingComments: true
ReflowComments: true
IndentPPDirectives: None
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: true
IndentCaseBlocks: false

# The brace breaking style to use.
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: false
  BeforeWhile: false
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterUnion: false
  AfterExternBlock: false
  AfterStruct: false
  AfterClass: false
  AfterEnum: false
  AfterFunction: true
  SplitEmptyFunction: true
  AfterNamespace: false
