---
BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 4
ColumnLimit: 80

IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: false

BreakBeforeBraces: Linux
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakConstructorInitializers: BeforeComma

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

MaxEmptyLinesToKeep: 1
SortIncludes: false
SortUsingDeclarations: Never
ReflowComments: true
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1

AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: false
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
